.navbar {
    padding: 1rem 4rem;
    background-color: #0D0D0D;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    color: #F2F1E9;
    z-index: 5;
}

.navbar li {
    cursor: pointer;
}

.navbar h3 {
    margin: 0;
    color: #7878bd;
}

.navbar li:hover {
    color: #7878bd;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    width: 15rem;
    justify-content: space-between;
    align-items: center;
}

.home {
    text-decoration: none;
    color: #F2F1E9;
}
