.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
}

.container span {
  color: red;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.textarea {
  height: 8rem;
  background-color: #f2f1e9;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
  font-size: 1rem;
}

.textarea-invalid {
  height: 8rem;
  background-color: #f2f1e9;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid red;
  font-size: 1rem;
}

.textarea:focus-visible,
.textarea-invalid:focus-visible {
  outline: 0;
}
