.button,
.button-invalid {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: #0d0d0d;
  border-style: solid;
  border-width: 1px;
  background: transparent;
  font-size: 1rem;
  color: #0d0d0d;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #7878bd;
  border-color: #7878bd;
  color: #f2f1e9;
}
