.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: #F2F1E9;
    border-style: solid;
    background: transparent;
    font-size: 1rem;
    color: #F2F1E9;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #7878bd;
    color: #F2F1E9;
    border-color: #7878bd;
}