.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: #f2f1e9;
  border-style: solid;
  background: transparent;
  font-size: 1rem;
  color: #f2f1e9;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #7878bd;
  color: #f2f1e9;
  border-color: #7878bd;
}
